.chronometer {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 900px;
    margin: 5% auto;
    background-color: #F5EFE6;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: var(--test-font2);
}

.title-countdown {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 0.9rem;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.7rem;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 10ch;
    padding: 2rem;
    margin-bottom: 0.9rem;
    background-color: #ffcaae;
    border-radius: 5px;
    gap: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #3A3A3A;
    font-family: var(--test-font2);
    
}