.message {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: 8% auto;
    border: 1px solid #FADADD;
    border-radius: 5px;
    background-color: #F5EFE6;
    font-family: var(--test-font2);
}

.message h1 {
    font-size: 1.9rem;
    padding: 1rem;
}

.message form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-form {
    display: flex;
    gap: 10px;
    padding: 2rem;
    margin: auto;
}

.title-input {
    margin-bottom: -10px;
    margin-left: -75%;
}

.content-form input {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #FADADD;
    padding-left: 10px;
    font-size: 1.2rem;

}

.content-form textarea {
    width: 200px;
    height: 200px;
    padding-left: 10px;
    padding-top: 5px;
    border: 1px solid #FADADD;
    font-size: 1.2rem;
}
.content-form textarea::placeholder{
    font-family: var(--test-font2);
}

.content-form p {
    font-size: 1.2rem;
    padding-left: 1rem;
}